body {
  width: 700px;
  font-size: 18 px;
  font.font-family: sans-serif;
}

h1 {
  font-size: 37px;
  color: #000000;
  font-family: sans-serif;
  line-height: 46px;
}

h3 {
  font-size: 25px;
  line-height: 38px;
  font-family: sans-serif;
}

p {
  color:#333;
  line-height: 27px;
  font-size: 18px;
}
